<app-custom-toast></app-custom-toast>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="form">
              <h3>Register</h3>
              <p class="text-medium-emphasis">Create your account</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input
                  autoComplete="name"
                  cFormControl
                  placeholder="Username"
                  formControlName="username"
                />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilPen"></svg>
                </span>
                <input
                  formControlName="code" 
                  autoComplete="code" 
                  cFormControl 
                  placeholder="Code" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>@</span>
                <input 
                  formControlName="email"
                  autoComplete="email" 
                  cFormControl 
                  placeholder="Email" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input
                  autoComplete="new-password"
                  cFormControl
                  placeholder="Password"
                  type="password"
                  formControlName="confirm_password"
                  (change)="onPasswordChange()"
                />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input
                  autoComplete="new-password"
                  cFormControl
                  placeholder="Repeat password"
                  type="password"
                  formControlName="password"
                  (change)="onPasswordChange()"
                />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilAddressBook"></svg>
                </span>
                <span cInputGroupText>Address</span>
                <textarea
                  formControlName="address"
                  cFormControl
                  rows="2"
                ></textarea>
              </c-input-group>
              <span
                class="customRed mt-3"
                *ngIf="
                  confirm_password.hasError('mismatch') ||
                  password.hasError('mismatch')"> 
                  Passwords do not match.
              </span>
              <div class="d-grid">
                <button 
                class="customButton"
                [disabled]="confirm_password.hasError('mismatch') ||
                            password.hasError('mismatch')"
                (click)="goRegister()" 
                cButton 
                color="primary">
                  Create Account
                </button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
