<app-user-header title="Owner" link="owner"></app-user-header>
<c-container class="mt-3">
  <c-row [ngStyle]="{ width: '100%' }">
    <c-col>
      <c-row class="g-0 customAlign">
        <h3>Stock Requests</h3>
      </c-row>
      <c-card
        *ngFor="let request of requests;"
        [cBorder]="{ top: { color: 'info', width: 3 } }"
        class="mb-3"
      >
        <c-row class="g-0">
          <c-card-body cCol [md]="8">
            <p cCardText>
              <b>Id:</b> {{ request.id }} <br />
              <b>Status:&nbsp;</b>
              <b [ngStyle]="{ color: getColor(request.status) }">{{
                request.status
              }}</b>
              <br />
              <b>Date:</b>
              {{ request.requestDate | date: "dd/MM/yyyy HH:mm" }}
            </p>
            <button
              *ngIf="request.status == 'Pending'"
              title="Approve"
              class="btn btn-outline-success customAlignButton"
              (click)="approve(request.id)"
            >
              <svg cIcon [cIcon]="icons.cilCheckAlt"></svg>Approve
            </button>
            <button
            *ngIf="request.status == 'Pending'"
            title="Reject"
            class="btn btn-outline-danger"
            (click)="reject(request.id)"
          >
            <svg cIcon [cIcon]="icons.cilX"></svg>Reject
          </button>
          </c-card-body>
          <table
            *ngIf="request.details.length > 0"
            cTable
            hover
            [responsive]="true"
          >
            <thead>
              <tr>
                <th scope="col">Drug Code</th>
                <th scope="col">Drug Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Stock</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of request.details">
                <td>{{ d.drug.code }}</td>
                <td>{{ d.drug.name }}</td>
                <td>{{ d.quantity }}</td>
                <td>{{ d.drug.stock }}</td>
              </tr>
            </tbody>
          </table>
        </c-row>
      </c-card>
    </c-col>
  </c-row>
</c-container>
