<app-user-header title="Employee" link="employee"></app-user-header>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center mt-3 mb-3">
        <c-col lg="7" md="9" xl="6">
          <c-card class="mx-4">
            <c-card-body class="p-4">
              <form cForm [formGroup]="form" class="customAlign">
                <h3>Update Product</h3>
                <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon [cIcon]="icons.cilShortText"></svg>
                    </span>
                    <select class="form-select" formControlName="productControl">
                      <option [ngValue]=""></option>
                      <option
                        *ngFor="let item of products"
                        [ngValue]="item.id"
                      >{{item.name}}</option>
                    </select>
                </c-input-group>
                <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon [cIcon]="icons.cilPencil"></svg>
                    </span>
                    <input
                      formControlName="name" 
                      autoComplete="name" 
                      cFormControl 
                      placeholder="Name" />
                 </c-input-group>
                 <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon [cIcon]="icons.cilPencil"></svg>
                    </span>
                    <input
                      formControlName="price" 
                      autoComplete="price" 
                      cFormControl 
                      placeholder="Price" />
                 </c-input-group>
                 <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon [cIcon]="icons.cilPencil"></svg>
                    </span>
                    <input
                      formControlName="description" 
                      autoComplete="description" 
                      cFormControl 
                      placeholder="Description" />
                 </c-input-group>
                 <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon [cIcon]="icons.cilPencil"></svg>
                    </span>
                    <input
                      formControlName="code" 
                      autoComplete="code" 
                      cFormControl 
                      placeholder="Code" />
                 </c-input-group>
                <div class="d-grid">
                    <button 
                    (click)="updateProduct()"
                    class="customButton" 
                    cButton 
                    color="primary">
                      Update Invitation
                    </button>
                  </div>
              </form>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-container>
</div>