<app-user-header title="Administrator" link="admin"></app-user-header>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center mt-3 mb-3">
        <c-col lg="7" md="9" xl="6">
          <c-card class="mx-4">
            <c-card-body class="p-4">
              <form cForm [formGroup]="form" class="customAlign">
                <h3>Create Pharmacy</h3>
                <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon [cIcon]="icons.cilPencil"></svg>
                    </span>
                    <input
                      formControlName="name" 
                      autoComplete="name" 
                      cFormControl 
                      placeholder="Pharmacy name" />
                 </c-input-group>
                 <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon [cIcon]="icons.cilPencil"></svg>
                    </span>
                    <input
                      formControlName="address" 
                      autoComplete="address" 
                      cFormControl 
                      placeholder="Pharmacy address" />
                 </c-input-group>
                <div class="d-grid">
                    <button 
                    (click)="createPharmacy()"
                    class="customButton" 
                    cButton 
                    color="primary">
                      Create Pharmacy
                    </button>
                  </div>
              </form>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-container>
</div>