<c-header class="customBody">
  <app-custom-header
    [icons]="true"
    [select]="false"
    [search]="false"
    [ngStyle]="{ width: '100%' }"
  >
  </app-custom-header>
  <c-header-divider></c-header-divider>
  <c-container>
    <c-row [ngStyle]="{ width: '100%' }">
      <c-col>
        <h3 [ngStyle]="{ 'text-align': 'center' }">Cart</h3>
        <div *ngIf="cart.length > 0">
          <table cTable hover [responsive]="true">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Drug</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let drug of cart; let indexOfelement = index">
                <th scope="row">{{ indexOfelement + 1 }}</th>
                <td>{{ drug.name }}</td>
                <td>{{ drug.price | currency }}</td>
                <td>{{ drug.quantity }}</td>
                <td>{{ drug.price * drug.quantity | currency }}</td>
                <td>
                  <button
                    title="Delete"
                    class="btn btn-outline-info"
                    (click)="delete(indexOfelement)"
                  >
                    <svg cIcon name="cil-trash"></svg>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td><b>Total</b></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <b>{{ total | currency }}</b>
                </td>
                <td></td>
              </tr>
            </tfoot>
          </table>

          <div class="mb-3" [ngStyle]="{ 'text-align': 'end' }">
            <button cButton color="primary" [routerLink]="['/home']">
              Add another item
              <svg cIcon name="cil-plus"></svg>
            </button>

            <button
              cButton
              color="primary"
              class="customCheckout"
              (click)="goToCho()"
            >
              Proceed to Checkout
              <svg cIcon name="cil-check-circle"></svg>
            </button>
          </div>
        </div>

        <div *ngIf="cart.length === 0" class="alert alert-info" role="alert">
          <h4 class="alert-heading">Your cart is empty.</h4>
          <p>Please add items to your cart clicking on the button below.</p>
          <hr />
          <p class="mb-3 customButtons">
            <button cButton color="primary" [routerLink]="['/home']">
              Add item
              <svg cIcon name="cil-plus"></svg>
            </button>
          </p>
        </div>
      </c-col>
    </c-row>
  </c-container>

  <app-custom-footer class="bottomFooter"></app-custom-footer>
</c-header>
